.wrapper {
  max-width: 700px;
}
.isDisabled {
  pointer-events: none;
  opacity: 0.5;
}
.responsiveGroup {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .responsiveGroup {
    flex-direction: column;
  }
  .from-dd,
  .to-dd {
    display: flex;
    justify-content: center;
  }
}
